.notification-wrapper {
	display: block;
	height: 24px;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #6C9E00;
}

.notification-wrapper img {
	float: right;
}

.notification-wrapper .container {
	text-align: center;
}

.notification-wrapper .container a.span1
{
	display: block;
	width: 20px;
	height: 30px;
	margin: 0px;
	text-decoration: none;
}

.notification-wrapper .container .leftArrow {
	background: url("/static/img/x-white.png") no-repeat -112px; 
	margin-top: -3px;
}

.notification-wrapper .container .rightArrow {
	background: url("/static/img/x-white.png") no-repeat -168px; 
	margin-top: -3px;
}

#notifications {
	margin: 2px auto 0px;
	width: 90%;
}

ul#notifications li {
	list-style-type: none;	
	color: #fff;
}

#notification-close {
	position: absolute;
	right: 0px;
	top: 0px;
	margin-top: 2px;
}
